



<div class="container text-center">
	<h1>Covid-19</h1>

	<h2 class="countries"></h2>
	
		<table class="table table-striped ">
			<thead>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">Cases</th>
      <th scope="col">Deaths</th>
      <th scope="col">Recovered</th>
    </tr>
  </thead>
  <tbody class="results ">

  </tbody>
  
		</table>
	<div class="text-center loading">
  	<img src="images/audio.svg">
  </div>

</div>